<!DOCTYPE html>
{%  load static %}
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet"  type="text/css" href="{% static 'blog/css/styles.css' %}">
    </head>
    {%block mainmenu%}
    <header>
        <div class="topnav">
            <nav>
            {% for  m in menu %}
                {% if not forloop.last %}
                    <a href="{% url  m.url_name %}">{{ m.title }}</a>
                {% else %}
                    <a href="{% url  m.url_name %}">{{ m.title }}</a>
                {% endif %}
            </nav>
            {% endfor %}
        </div>
    </header>
    {% endblock mainmenu %}
    <body>
        <div class="maincontent">
        {% block content %}

        {% endblock %}
        </div>

    </body>
</html>