{%  load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>!</title>
        <link rel="stylesheet"  type="text/css" href="{% static 'blog/css/styles.css' %}">
    </head>
    {%block mainmenu%}
    <header>
        <div align="center">
            <nav>
            <a href="#">Главная</a>
            <a href="#">Блог</a>
            <a align="right "href="#">Войти</a>
            </nav>
        </div>
    </header>
    {% endblock mainmenu %}
    <body>
        {% block content %}

        {% endblock %}
    </body>
</html>