<!DOCTYPE html>
{%  load static %}
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet"  type="text/css" href="{% static 'blog/css/styles.css' %}">
    </head>
    <body>

    
        <!-- Главное меню  -->
        <div>
            <div class="topnav">
                <nav>
                {% for  m in menu %}
                        <a href="{% url  m.url_name %}">{{ m.title }}</a>
                {% endfor %}

                </nav>
                {% if request.user.is_authenticated%}
                    <span>{{ user.username }} | </span>  <a class="authorize" href="{% url 'logout' %}" > Выйти </a>
                {% else %}
                    <a class="authorize" href="{% url 'register' %}">Регистрация</a> | <a href="{% url 'login' %}">Войти</a>
                {% endif %}
            </div>
        </div>
        <!-- Конец главного меню -->


        <!--  Боковое меню -->
        <div class="sidenav">
            {% if cat_selected == 0 %}
                <p>Все категории</p>
            {% else %}
                <a href="{% url 'home' %}">Все категории</a>
            {% endif %}
            {% for c in cats %}
            {% if c.standartpost__count > 0%}
                {% if  c.pk == cat_selected %}
                    <p>{{ c.name }}</p>
                {% else %}
                    <a href="{{ c.get_absolute_url }}">{{c.name}}</a>
                {% endif %}
            {% endif %}
            {% endfor %}
        </div>
        <!--Конец главного меню -->

        <!--Блок с контентом    -->
        <div class="maincontent">
            {% block content %}
            {% endblock %}
            <!-- Пагинация-->
            <nav class="pages">
            {% if page_obj.has_other_pages%}
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number}}">&lt;</a>
                {% endif %}
                {% for p in page_obj.paginator.page_range %}
                    {% if page_obj.number == p %}
                        <span>{{ p }}</span>
                    {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                        <a href="?page={{ p }}">{{ p }}</a>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number}}">&gt;</a>
                {% endif %}
            {% endif %}
            </nav>
        </div>
        <!-- Конец блока контента  -->



    </body>
</html>