{% extends "blog/base.html" %}
{% load static%}
{% block content %}
    <title>{{ title}} </title>
    {% for p in posts %}
    <div class="preview">
        <span class="preview-title">{{ p.title }}</span>
        <span class="preview-category">Категория: {{ p.cat }}</span>
        <br>
        <br>
         {% if p.post_header_image %}
        <img class="preview-image"   src="{{ p.post_header_image.url }}" alt="#">
        {% endif %}
        <p class="preview-text">{{ p.post_text|linebreaks|truncatewords:85 }}</p>
        <br>
        <br>
        <a class="read" href="{{ p.get_absolute_url }}">Читать пост</a>
    </div>

    {% endfor %}
{% endblock %}