* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #EBEBEB;
    font-family: 'Arial';

}

.maincontent {
    min-height: 250 px;
    margin-top: 3%;
    margin-down: 2%;
    padding-right: 7%;
    padding-left: 10%;
}

.topnav {
  padding-left: 9em;
  margin: 0;
  overflow: hidden;
  background-color: #333;
  height: 4em;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav span {
  float: left;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.sidenav {
    height: 100%;
    position: fixed;
    width: 10em;
    position: fixed;
    z-index: 1;
    top: 4em;
    left: 0;
    overflow-x: hidden;

}

.sidenav a {
   display: block;
   text-decoration: none;
   margin: 1em;
   width: 9em;

}

.sidenav p {
   display: block;
   text-decoration: none;
   margin: 1em;
   width: 9em;
}

.link-read-post {
    display: block;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
}

.preview-wrapper {

}

.preview {
    margin: 1em;
    width: 90em;
    height: 20em;
    display: inline-block;
    border 5px sold #eaeaea;
    border-radius: 6px;
}

.preview-image {
    float:left;
    margin: 10px 10px;
    width: 150px;
    height: auto;
}
.preview-text {
    margin-left: 150px;
}
.preview-category{
    float: right;
    font-size: 18px;
}

.preview-title {
    float:left;
    font-size: 26px;
}

.pagination {
    display: inline-block;
    width: 9em;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}


.pagination a {
    display: block;
    text-decoration: none;
    text-align: center;
    width: 2em;
    background-color: #EDEDED;
    border: 1px solid #D6D6D6;
    border-radius: 10px;
    color: black;
}
.pagination span {
    display: block;
    text-decoration: none;
    text-align:center;
    width: 2em;
    background-color: #EDEDED;
    border: 1px solid #D6D6D6;
    border-radius: 10px;
}

.authorize {
    display: inline-block;
    float: right;
}